@charset "UTF-8";

.give, .take, .total{
	width: 550px;
	float: left;
	margin: 30px 20px;	
}

th{
	height: 30px;
	text-align: center;
}

td{
	padding-left: 10px;
	height: 30px;
	text-align: left;
}

.total{
	width: 200px;
	float: left;
}

.middle{
	text-align: center;
	margin: 0 auto;
}
