<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehr.web.salary.SalaryDAO">

	<select id="elist" parameterType="Map" resultType="Map">
		SELECT * FROM employee e JOIN salary s ON e.eno=s.eno WHERE DATE_FORMAT(s.sdate, '%Y-%m')=#{sdate} AND e.eno=#{eno};
		</select>
	
	<select id="slist" parameterType="Map" resultType="Map">
		SELECT * FROM salary s JOIN employee e ON e.eno=s.eno WHERE DATE_FORMAT(s.sdate, '%Y-%m')=#{sdate} AND e.eno=#{eno};
	</select>
	
	<select id="searchSal" parameterType="Map" resultType="Map">
		SELECT * FROM employee e JOIN salary s ON e.eno=s.eno WHERE DATE_FORMAT(s.sdate, '%Y-%m')=#{sdate} AND e.eno=#{eno};
	</select>
	
	<select id="searchSal2" parameterType="Map" resultType="Map">
		SELECT * FROM salary s JOIN employee e ON e.eno=s.eno WHERE DATE_FORMAT(s.sdate, '%Y-%m')=#{sdate} AND e.eno=#{eno};
	</select>
	
	<select id="list" parameterType="Map" resultType="Map">
		SELECT * FROM salary s JOIN employee e ON e.eno=s.eno WHERE s.eno=#{eno};
	</select>
	
	
</mapper>
